# Composer lock file
composer.lock

# IDEs
/nbproject
/.idea

# Vendors
/vendor
/node_modules

# Temp dirs & trash
/temp
/tmp
/coverage
clover-file
package-lock.json
yarn.json
.DS_Store
/*.log
/yarn.lock
