# Lock files
composer.lock
yarn.lock

# IDEs
/.vscode
/.idea

# Vendors
/vendor
/node_modules

# Temp dirs & trash
/temp
/tmp
/coverage
clover-file
package-lock.json
yarn.json
.DS_Store
/*.log
*.cache
